body{
    margin: 0 auto;
    padding: 0;
}
@media screen and(min-width: 784px){}
  

#H3 { /* H3 は親要素である*/
  border-bottom: 2px solid red;
  margin-left: 10px;
  width: 200px;/*赤い線の指定*/
}

img {
  width:100%;
  max-width: 100%;
  height: auto;
  }
.top_img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    
}
.key_text{
  background: rgb(235, 10, 10);
  color: #fff;
  position: relative;
  top: -30px
}
.key_text h1{
  padding: 20px 0 0 10px;
}
.key_text p{
  padding: 0px 0px 20px 10px;
}



#top_localNav{
  margin: 0 auto;
  background: rgb(44, 41, 41);
  padding: 45px 15px;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  top: -47px;
}
#top_localNav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between; /*均等な余白でナビを並べてくれる*/
}
#top_localNav ul li{
  background: rgb(245, 168, 26) url(../img/border.png) no-repeat 90%;
  border-radius: 20px;
  padding: 10px;
  margin: 30px 0; 
  box-shadow:4px 4px 0 #fff;

}
#top_localNav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
}


.news{
    width:100%;
    height:225px;
    padding:10px;
    margin:0;
    background:#ddd;
    box-sizing: border-box;
    line-height: 35px;
    position: relative;
    top: -47px;
  }
  .news h2{
    color: red;
  }
  .news p{
    font-size: 80%;
  }
  .box{
    overflow:scroll;
  }
  .boxx{
    overflow:hidden;
    overflow-x:scroll;
  }
  .boxy{
    overflow:hidden;
    overflow-y:scroll;
  }
  p{
   white-space:nowrap; 
  }

.main_img{
  position: relative;
  top: -47px;
}


.sec1 p,.sec2 p,
.sec3 p,.sec4 p{
  padding: 0px 10px;
  font-size: 90%;
}
.sec2 .the_goal {
  list-style-type: none;
  text-align: center;
  padding: 0 20px;
  font-size: 95%;
}
.sec2 .the_goal p{
  padding: 5px 0;
  margin: 10px auto;
  background-color: rgb(202, 28, 28);
  color: #fff;
  max-width: 330px;
}
.sec2_btn p,
.sec3_btn p,
.sec4_btn p{
  padding: 10px 5px;
  margin: 5px auto;
  color: #fff;
  font-size: 22px;
  background: rgb(255, 176, 30);
  border-radius: 30px;
  max-width: 225px;
  text-align: center;
}
.sec4_btn p{
  margin-bottom: 100px;
}



/*----------footerエリア　ここから-------------*/
.grobal_nav{
  position: relative;
  left: -40px;
}
footer ul{
  text-align: center;
  list-style-type: none;

}
footer ul li{
  background: rgb(44, 41, 41);
  padding: 10px;
  border-bottom: 1px solid rgb(107, 106, 106);
  width: 100%;   /*数値の変更予定あり*/
}
footer ul li:last-child{
  padding: 30px 10px 10px 10px;
  color: #fff;
}
.yellow{
  color: rgb(255, 176, 30);
}
footer ul a{
  text-decoration: none;
  color: #fff;
}
.y_text a{
  color: rgb(255, 176, 30);
}

