@media screen and (max-width:768px) {

*{
    padding: 0;
    margin: 0;
}

#key_picuture{
    position: absolute;
    top: 20px;
}




img {
    width: 100%;
}
/* -------headerここから------- */
#title {
    padding: 10px 20px;
    font-size: 120%;
    position: fixed;
    background: #928787;
    z-index: 3;
}

.hbg {
    position: relative;
    width: 100%;
}
.menu {
    position: relative;
    width: 100%;
}
#now {
    color: #ffb300;
    font-weight: bold;
}

/* モーダルウィンドウ　ここから */
.ulArea {
    position: fixed;
    background: rgba(255, 255, 255);
    transition: 1s;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    line-height: 3;
    list-style-type: none;
    z-index: 4;
}
.ulArea li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 0;
    display: block;
}

.off {
    opacity: 0;
    right: -100%;
    top: 0;

}

/* モーダルウィンドウ　ここまで */

/* hbgメニュー　ボタン　ここから*/
.hbg_btn {
    background-color: #fff;
    height: 48px;
    width: 48px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.active {
    /* background: initial; */
    transition: all 1s 0s ease;
}
.line {
    width: 24px;
    height: 2px;
    background: #ffb300;
}
.top {
    position: absolute;
    top: 10px;
    left: 25%;
    transition: all 1s 0s ease;

}
.top_close{
    top:20px;
    left: 25%;
    transform: rotate(45deg);
}
.mid {
    position: absolute;
    top: 20px;
    left: 25%;
    transition: all 1s 0s ease;
}
.mid_close {
    opacity: 0; /*真ん中の線が消えるだけ*/
}
.btm {
    position: absolute;
    top: 30px;
    left: 25%;
    transition: all 1s 0s ease;

}
.btm_close{
    top: 20px;
    left: 25%;
    transform: rotate(-45deg);
}
/* hbgメニュー　ボタン　ここまで */




#key_text {
    background: #e81818;
    margin-top: -10px;
    padding: 30px 10px;
    color: #fff;
}
#key_text h1{
    padding: 5px 0 10px 10px;
}
#key_text p{
    padding-left: 10px;
    font-size: 90%;
}
.btn,.btn a{
    background: #ffb300;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    text-decoration: none;
}
.grobal_nav{
    margin: 0 auto;
  }
  footer ul{
    text-align: center;
    list-style-type: none;
  }
  footer ul li{
    background: rgb(44, 41, 41);
    padding: 15px;
    border-bottom: 1px solid #c3c3c3;
     /*数値の変更予定あり*/
     font-size: 130%;
  }
  footer ul li:first-child{
    margin-top: 100px;
  }
  footer ul li:last-child{
    padding: 50px 10px 10px 10px;
    color: #fff;
    font-size: 80%;
  }
  footer ul a{
    text-decoration: none;
    color: #fff;
  }
  .orange{
    color: #ffb300;
  }
  .end_text{
      width: 90%;
      margin: 0 auto;
      font-size: 95%;
  }





/* -------headerここまで------- */


/* ----------トップページ　ここから----------- */

#top_link {
    text-align: center;
    padding: 20px 0;
    background-color: #514a4a;
}
#top_link li{
    padding: 15px 0;
    margin: 20px auto;
    border-radius: 30px;
    background: #ffb300;
    width: 80%;
    list-style-type: none;
    background: #ffb300 url(../img/border.png) no-repeat 90%;
    box-shadow: #fff 4px 4px 0;
}

#top_link li a{
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

/* newsboxここから */
.box{
  width:90%;
  height:180px;
  padding:20px;
  background:#ddd;
}
.box h2 {
    color: #e81818;
}
.box p{
    padding: 10px 0;
}
.scroll{
  overflow:scroll;
}
.scrollx{
  overflow:hidden;
  overflow-x:scroll;
}
.scrolly{
  overflow:hidden;
  overflow-y:scroll;
}
/* newsbox ここまで */

/* main */
#main_ttl {
    margin-left: 0;
}

.top_section h2{
    padding: 10px 0 0px;
    margin-bottom: 20px;
    border-bottom: 3px solid #e81818;
    width: 80%;
}

.top_section h2,.top_section .item_body{
    margin-left: 10px;
}
#goal li{
    background: #e81818;
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px 0;
}
/* --------------------Q&Aページ　ここから------------------------ */
.query {
    margin: 50px auto;
}
.query_ttl{
    border-left: 7px solid #e81818;
    padding: 10px 5px 10px;
    margin: -5px 0 20px 10px;
    line-height: 20px;
}
.answer1,.answer2,.answer3{
    width: 90%;
    margin: 0 auto;
}


.answer1 {
    background: #ffb300;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 2;
}
.triangle1 {
    margin-top: -10%;
}
.triangle1 img {
    width: 20%;
    position: relative;
    left: 80%;
    bottom: 70%;
    z-index: 1;
}



.answer2 {
    background: #2eedfc;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 2;
}
.triangle2 {
    margin-top: -10%;
}
.triangle2 img {
    width: 20%;
    position: relative;
    left: 5%;
    bottom: 70%;
    z-index: 1;
}

.answer3 {
    background: #b3b3b3;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 2;
}
.triangle3 {
    margin-top: -10%;
}
.triangle3 img {
    width: 20%;
    position: relative;
    left: 80%;
    bottom: 70%;
    z-index: 1;
}



















/* --------------------Q&Aページ　ここまで------------------ */

/* --------------活動内容と実績ページ　ここから--------------- */
#year {
    display: flex;
}
#year li {
    background: #ffb300;
    color: #fff;
    border-radius: 20px;
    list-style-type: none;
    margin: 40px auto;
    padding: 5px 20px;
    text-align: center;
}
#someday {
    background: #e81818;
    padding: 3px 1px;
    border-radius: 20px;
    color: #fff;
    margin: 10px 0 10px 10px;
    text-align: center;
    width: 30%;
    font-size: 80%;
}
#event_date {
    border-left: 7px solid #e81818;
    padding: 10px 5px 10px;
    margin: -5px 0 20px 10px;
    line-height: 20px;
}
.event_text {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;
}

.paginate {
    display: flex;
    margin-bottom: 100px;

}
.paginate li a{
    text-decoration: none;
    color: #fff;
}
.paginate .before,.after{
    list-style-type: none;
    background: #ffb300;
    margin: 0 auto;
    padding: 10px 30px;
    color: #fff;
}
.paginate .now_page{
    list-style-type: none;
    background: #ffb300;
    margin: 0 auto;
    padding: 10px 30px;
    color: #fff;
}
#interest {
    width: 90%;
    margin: 0 auto;
}
#end_ttl{
    padding: 10px 0 0 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #e81818;
    width: 80%;
}
.form_btn{
    background: #ffb300;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}





/* ------------活動内容と実績ページ　ここまで---------------- */



/*--------------------イベント・企画ページ　ここから-------------------*/
#event_plan{
    border-left: 7px solid #e81818;
    padding: 10px 5px 10px;
    margin: 20px 0 20px 10px;
    line-height: 20px;
}
#end_text {
    text-align: center;
    margin: 50px auto 30px;
    width: 80%;
}

/*--------プルダウンメニューここから-----------*/
.current_event {
    width: 90%;
    margin: 0 auto;
}
.current_event label {
    background-color: #e81818;
    color: #fff;
    display: block;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    z-index: 1;
}
.current_event input {
    display: none;
}
.current_event ul {
    background-color: #c3c3c3;
    margin: 0;
    padding: 0;
    list-style: none;
}
.current_event li {
    height: 0;
    padding-left: 30px;
    overflow: hidden;
    line-height: 3;
    transition: all 0.5s;
    color: #fff;
}
#acd-menu_a1:checked~.acd-list_a1 li, #acd-menu_a2:checked~.acd-list_a2 li {
    height: 50px;
}
.current_event label::after { /* css ボタンの部分*/
    display: inline-block;
    content: "";
    background: url(../img/acdMenu.png) 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    width: 30px;
    height: 30px;
   
    /* display: inline-block;
    content: '＋';
    font-size: 120%;
    color: white;
    padding-left: 10px; */
}
.current_event a {
    color: #fff;
    text-decoration: none;
}
.current_event a:hover {
    color: red;
}

/*------過去のイベント　ここから-----*/
.past_event {
    width: 90%;
    margin: 0 auto;
}
.past_event label {
    background-color: #e81818;
    color: #fff;
    display: block;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    z-index: 1;
}
.past_event input {
    display: none;
}
.past_event ul {
    background-color: #c3c3c3;
    margin: 0;
    padding: 0;
    list-style: none;
}
.past_event li {
    height: 0;
    padding-left: 30px;
    overflow: hidden;
    line-height: 3;
    transition: all 0.5s;
    color: #fff;
}
#acd-menu_b1:checked~.acd-list_b1 li, #acd-menu_b2:checked~.acd-list_b2 li,
#acd-menu_b3:checked~.acd-list_b3 li{
    height: 50px;
}
.past_event label::after { /* css ボタンの部分*/
    display: inline-block;
    content: '';
    color: white;
    background: url(../img/acdMenu.png) 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
}
.past_event a {
    color: #fff;
    text-decoration: none;
}
.past_event a:hover {
    color: red;
}
/*--------プルダウンメニューここまで-----------*/

/* ---------イベント・企画ページここまで----------- */






/*----------お問い合わせフォーム------------*/
form {
    margin: 40px 0 20px 20px;
}
form p{
    font-size: 90%;
}
h3 { /*タイトルと入力欄の余白ゼロにしてくれる*/
    margin: 0;
}
input {
    margin: 0 auto;
    width: 70%;
    margin-left: 20px;
    margin-bottom: 25px;
}
.example_text{
    color: #707070;
    text-align: right;
    padding-right: 30px;
    margin: -15px 0;
}
.example_text2{
    color: #707070;
    text-align: right;
    padding-right: 30px;
    margin: -15px 0;
}
.example_text3{
    color: #707070;
    text-align: right;
    padding-right: 30px;
    margin: -15px 0;
}
.example_text4{
    color: #707070;
    text-align: right;
    padding-right: 30px;
    margin: -15px 0 0 0;
}
.example_text5{
    color: #707070;
    text-align: right;
    padding-right: 30px;
    margin: -15px 0 0 0;
}
.example_text6{
    color: #707070;
    text-align: right;
    padding-right: 30px;
}

textarea {
    margin-left: 20px;
}

.joining_btn{
    background: #ffb300;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    margin: 10px auto;
    width: 60%;
    text-align: center;
}
/*----------お問い合わせフォームここまで-------------*/







}
